<h1>Movies</h1>

<div class="main-container">
  <header>
    <nav>
      <!-- <a href="">Home</a> -->
      <a href="/movies">Available Movies</a>
      <a href="/shows">Shows List</a>
      <a href="/bookings">Bookings</a>
    </nav>
  </header>

  <h1>Find a Movie</h1>

  <form action="/movies">
    <label>Movie title:</label>
    <input type="search" name="title" required placeholder="movie name">
    <button>Find Movie</button>
  </form>
